.heading-container {
  margin-left: 20px;
}

.heading {
  width: 100%;
  background-color: #476072;
  height: 60px;
}

.heading-text {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f2f2f2;
  border-bottom: 1px solid lightgrey;
}

.modal-title {
  line-height: 1.5rem;
  width: 100%;
}

.modal-header {
  background-color: #476072;
  margin-left: -1px;
  margin-top: -1px;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #f2f2f2;
}
