.container {
  width: 85%;
  margin: 50px auto;
}

.room-booking-btn {
  margin: 30px 0 25px 0;
  display: block;
}

.entries-row {
  display: flex;
  justify-content: flex-start;
}

label {
  font-size: 1.5rem;
}

.selection-layout {
  height: 30px;
  width: 60px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  resize: vertical;
  margin: 0 10px;
}
